#carousel {
  /* position: absolute; */
  height: 325px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin: 0 auto;
  left: 0;
  right: 0;
  top: 4%;
  bottom: 0; */
  overflow: hidden;
}
#carousel span {
  position: absolute;
  left: -12px;
  top: 100px;
  height: 326px;
  width: 100%;
  display: flex;
  align-items: center;
}

.arrow {
  width: 33px;
  height: 43px;
  overflow: hidden;
  cursor: pointer;
}
.arrow .layer-2,
.arrow .layer-3 {
  width: 80px;
  height: 80px;
  position: relative;
  top: -20px;
  z-index: 1000;
}

.arrow-right {
  /* right: 45px; */
  margin-right: 65px;
}
.arrow-right .layer-3 {
  left: -26px;
}

.arrow-left {
  /* left: 45px; */
  margin-left: 60px;
}
.arrow-left .layer-2 {
  left: -20px;
}

.item {
  text-align: center;
  color: white;
  font-size: 40px;
  position: absolute;
  transition: height 1s, width 1s, left 1s, margin-top 1s, line-height 1s,
    background-color 1s;
}
.level0 img {
  width: 225px !important;
}

.level1 img {
  width: 95px;
}

.level-1 img {
  width: 95px;
}

.level-2 {
  height: 150px;
  width: 110px;
  line-height: 150px;
  background-color: #228291;
  left: 650px;
  margin-top: 25px;
}

.level-1 {
  height: 100px;
  width: 120px;
  left: 410px;
  filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.level0 {
  height: 300px;
  width: 300px;
  line-height: 198px;
  background-color: #5b0cb799;
  left: 130px;
  bottom: 103px;
  z-index: 1;
  border-radius: 16px;
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.level1 {
  height: 100px;
  width: 120px;
  left: 30px;
  filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.level2 {
  height: 150px;
  width: 110px;
  line-height: 150px;
  background-color: #228291;
  margin-top: 25px;
  left: 50px;
}

.left-enter {
  opacity: 0;
  left: -60px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.left-enter.left-enter-active {
  opacity: 1;
  left: 50px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.left-leave {
  opacity: 1;
  left: 650px;
  height: 150px;
  width: 110px;
  line-height: 150px;
  margin-top: 25px;
}

.left-leave.left-leave-active {
  left: 780px;
  opacity: 0;
  height: 120px;
  line-height: 120px;
  margin-top: 40px;
  width: 90px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.right-enter {
  opacity: 0;
  left: 760px;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
}

.right-enter.right-enter-active {
  left: 650px;
  opacity: 1;
  height: 150px;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.right-leave {
  left: 50px;
  height: 150px;
  opacity: 1;
  margin-top: 25px;
  line-height: 150px;
  width: 110px;
}

.right-leave.right-leave-active {
  left: -60px;
  opacity: 0;
  height: 120px;
  width: 90px;
  line-height: 120px;
  margin-top: 40px;
  transition: left 1s, opacity 1s, height 1s, width 1s, margin-top 1s,
    line-height 1s;
}

.noselect {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*# sourceMappingURL=carousal.css.map */
