.x2982776 {
  background-color: #001949;
  border-radius: 5px;
  box-shadow: 0px 4px 20px #00000026;
  height: 40px;
  opacity: 1;
  position: relative;
  width: 94px;
}

.text-15-hxiiGb {
  color: #ffffff;
  font-family: 'SF Pro Display-Bold', Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 12px;
  letter-spacing: 0;
  opacity: 1;
  position: absolute;
  top: 8px;
}

.arrow-down-svgrepo-com-1-hxiiGb {
  height: 24px;
  width: 24px;
}

