.x643 {
  background-color: #050f2240;
  border-radius: 5px;
  box-shadow: 0px 4px 20px #00000033;
  height: 168px;
  left: 802px;
  opacity: 1;
  pointer-events: auto;
  position: absolute;
  top: 64px;
  transition: all 0.2s ease;
  width: 338px;
}

.x643:hover {
  transform: scale(1.01);
}

.frame-14-y3efAG {
  height: 37px;
  left: 32px;
  opacity: 1;
  position: absolute;
  top: 32px;
  width: 226px;
}

.group-rvkXvR {
  height: 20px;
  left: 0;
  opacity: 1;
  position: absolute;
  top: 8px;
  width: 18px;
}

.x10101-ever-in-existe-rvkXvR {
  color: #ffffff;
  font-family: 'SF Pro Display-Heavy', Helvetica;
  font-size: 18px;
  left: 28px;
  letter-spacing: 0;
  opacity: 1;
  position: absolute;
  top: 8px;
}

.with-almost-two-mill-y3efAG {
  color: #ffffff;
  font-family: 'SF Pro Display-Regular', Helvetica;
  font-size: 14px;
  left: 32px;
  letter-spacing: 0;
  opacity: 1;
  position: absolute;
  top: 85px;
  width: 276px;
}

